  body {
    font-family: 'Roboto', 'Tahoma','Arial', sans-serif;
    background-color: rgb(92, 110, 143);
    padding: 0;
    margin: 0;
  }

  body.main {
    background-image: url('./assets/cloud.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom 30px left;
    background-attachment: fixed;
  }

  .page-content {
    width: 100%;
    min-width: 890px;
    width: 100%;
    height: calc(100vh - 112px);
  }

  .title-section {
    height: 80px;
    min-height: 80px;
    background-color: white;
    color: rgb(67,82,105);
    font-size: 40px;
    font-weight: 600;
    padding-left: 35px;
    line-height: 80px;
    vertical-align: middle;
    border-bottom: 2px solid rgb(67,82,105);
    opacity: 0;
  }

  .title-section > div {
    display: inline-block;
  }

  .title-section > .logo {
    padding-top: 10px;
    padding-right: 45px;
    float: right;
    xopacity: 1;
  }

  .title-section > .logo > img:hover {
    opacity: 0.75;
  }

  .fade-in-on-load {
    opacity: 0;
  }

  .footer-section {
    height: 29px;
    line-height: 28px;
    background-color: white;
    width:auto;
    text-align: center;
    font-size: 10px;
    color:rgb(67,82,105);
    border-top: 1px solid rgb(67,82,105);

  }
  .wrapper-bulletpoint-list {
    width: calc( 60% - 25px);
    min-width: 480px;
    float: left;
    padding-left: 20px;
    padding-top: 12px;
  }
  .wrapper-photo {
    width: 40%;
    min-width: 350px;
    display: inline-block;
  }
  
  .wrapper-bulletpoint {
    background-image: url( './assets/BulletPoint.svg' );
    height: 50px;
    width: 493px;
    margin-top: 15px;
    cursor: pointer;
  }

  div.bulletpoint-icon {
    display:inline-block;
    height: 48px;
    width: 49px;
    font-size: 32px;
    color: rgb(245, 245, 245);
    text-align: center;
    border-radius: 50%;
    position: relative;
    background-color: rgb(67,82,105);
    border: 2px white solid;
  }
  div.bulletpoint-icon:hover {
    background-color: rgb(151, 159, 172);
  }

  svg.bulletpoint-icon {
    position: relative;
    top: 7px;
    left: 0;
  }
  .bulletpoint-label {
    display:inline-block;
    font-size: 18pt;
    font-family: 'Roboto', 'Tahoma','Arial', sans-serif;
    font-weight: 500;
    color: white;
    position: relative;
    top: 2px;
    padding-left: 3px;
  }

  .photo-right {
    float:right;
    margin-right: 15px;
  }

.bulletpoint-icon.first {
  top: 0px;
  font-size: 30px;
 }

 .bulletpoint-icon.first svg {
  left: 4px;
 }

 .bulletpoint-icon.second svg {
  left: -1px;
 }

 .popup-window {
    background-color:  rgba(67,82,105, 0.90);
    max-width: 700px;
    min-width: 700px;
    width: 75%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    border: 3px solid rgb(255, 255, 255);
    opacity: 0;
 }

 .popup-close {
  float:right;
  font-size: 26px;
  color: whitesmoke;
  position: relative;
  top: -14px;
  left: 8px;
  --fa-secondary-opacity: 1;
  --fa-primary-color: whitesmoke;
  --fa-secondary-color: rgba(110, 3, 3);
  cursor: pointer;
  line-height:32px;
 }

 .popup-close:hover {
    --fa-secondary-color: rgb(165, 0, 0);
    font-size: 30px;
    top: -14px;
    left: 10px;
 }
 .popup-title {
    font-size: 22px;
    color: rgb(252, 225, 73);
    display: inline-block;
    width: 40%;
    position: fixed;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0);
 }

 .popup-body {
  padding: 32px 24px 15px 24px;
  color: white;
  font-size: 14px;
 }
 .popup-body > div {
    text-align:justify;
    margin-top: 6px;
    line-height: 20px;
 }
 .popup-body > div.last-line {
    margin-top: 10px;
    text-align: center;
    font-size: 15px; 
 }